body {
  margin: 10px; 
  margin-top: 70px;
}
a {
  text-decoration: none;
  color: #000;
}

a.hover {
  text-decoration: none;
  color: #000;
}

.mw-content-ltr {
  direction: ltr;
}

ul.gallery {
  margin: 0px;
  padding: 0px;
  display: block;
}

li.gallerybox {
  vertical-align: top;
  display: inline-block;
  margin: 2px;
}

.pinbox {
  width: 100px;
}

div.thumb {
  width: 100px;
  margin: 0px auto;
  border: 1px solid #000;
  background-color: #f9f9f9;
}

.App {
  text-align: center;
}

.pinname {
  text-align: center;
  font-size: 80%;
}
.pinset {
  text-align: center;
  font-size: 60%;
  font-style: italic;
}

img {
  border: none;
  vertical-align: middle;
}


.search-box {
  position: fixed;
  top: 7px;
  right: 70px;
  width: 300px;
  z-index: 9998!important;
  display: flex;
  flex-flow: row-wrap;
  align-items: center;
}